.dialog-error {
    color: #e63946;
    margin-top: 10px;
}

#dialogErrorMessage:empty {
    margin-top: 0px;
}

dialog {
    background: #1d3557;
    color: #f1faee;
    border: 3px solid #457b9d;
}

dialog h2 {
    margin-top: 0px;
}

dialog::backdrop {
    background: rgba(168 218 220, 0.40);
    backdrop-filter: blur(3px);
}

dialog + .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

._dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}